name: App deployment with unit tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
      
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repository 
        uses: actions/checkout@v4

      #Setup Node.js
      - name: Setup Node JS
        uses: actions/setup-node@v3
        with:
          node-versjon: 18

      # Install dependencies
      - name: Install dependencies
        run: npm install

      # Run unit tests
      - name: Run unit tests
        run: npm test

      # Deploy only if tests pass
      - name: Deploy Web App
        uses: peaceiris/actions-gh-pages@v6
        with:
          github_token: "${{ secrets.GH_PAT }}"
            publish_dir: .
            force_orphan: true
